body{
    background-color:black;
}
.nav1{
    
    background-color: transparent;
    /* top:0; 
    position:fixed; */
}
.logo{
    height:1.95rem;
}
.icons{
    font-size:1.8rem;
}

/* object-fit: cover; */